<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <title>Edushka - {% block titile %}онлайн-курсы{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script defer src="{% static 'script.js' %}"></script>
</head>
<body>
    <header>
      <nav class="header_container">
        <div class="logo_container">
          <a class="logo" href="{% url 'index' %}"><img src="{% static 'logo.png' %}" alt="Лого сайта" title="Лого сайта"></a>
            <div class="describer">
                <div class="title"><h2 translate="no">Edushka</h2></div>
                <div class="role">онлайн-курсы</div>
            </div>
        </div>
          <div class="auth_container">
              {% if user.is_authenticated %}
                <div class="profile">
                    <div><a href="#">{{ user.last_name }} {{ user.first_name }}</a></div>
                    <div class="submenu_profile" style="display: none;">
                        <div>
                            <p class="fa fa-sign-out"></p>
                            <a style="color: rgba(238, 68, 0.83" href="{% url 'logout' %}">Выход</a>
                        </div>
                    </div>
                </div>
                <div><a href="{% url 'create' %}">Создать курс</a></div>
              {% else %}
                <div class="nav-toggle"><span></span></div>
                <div class="login"><a href="{% url 'user_login' %}" style="colore: #000">Вход</a></div>
                <div class="register"><a href="{% url 'register' %}" style="color: #fff">Регистрация</a></div>
              {% endif %}
          </div>
      </nav>
    </header>

    <main>
        {% block content %}{% endblock %}

    </main>

    <footer>
        <div class="footer_container">
            <div class="logo">
                <div class="copyright-mark">
                    <p><img src="{% static 'logo.png' %}" alt="лого сайта" title="лого сайта">
                    <span class="title">Edushka</span> - онлайн-курсы</p>
                </div>
                <p>&copy; {% now 'Y' %}  Все права защищены</p>
            </div>
            <div class="privacy"><a href="#">Политика конфиденциальности</a></div>
            <div class="tern"><a href="#">Условия использования</a></div>
        </div>
    </footer>
</body>
</html>