{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="course_container">
        <div class="course_preview" style="transform: none; box-shadow: none; border: none">
            <p><a style="color: red" href="{% url 'delete' course.pk %}">Удалить</a></p>
            <p><a style="color: blue" href="{% url 'update' course.pk %}">Редактировать </a></p>
            <p>{{ course.title }}</p>
            <p>Автор: {{ course.author.last_name }} {{ course.author.first_name }}</p>
            <p>Старт: {{ course.start_date }}</p>
            <p>Продолжительность: {{ course.duration }} месяцев/-a</p>
            <p>Кол-во уроков: {{ course.count_lessons }}</p>
            <p>{{ course.description }}</p>
            <p><span class="price">{{ course.price|default:'Бесплатно' }} ₽</span></p>
        </div>
        <div class="course_preview" style="margin-top: 1%; box-shadow: none; border: none"></div>
            {% with count_lessons=lessons.count %}
            <p style="font-weight: bold">Всего уроков {{ count_lessons }}</p>
            {% endwith %}
            {% for lesson in lessons %}
                <p style="font-weight: bold; font-size: 30px" >{{ forloop.counter }}. {{ lesson.name }}</p>
                <p style="font-size: 25px">{{ lesson.preview }}</p>
            {% empty %}
                <p>Уроки пока не добавлены</p>
            {% endfor %}
            <form method="post" action="{% url 'enroll' course.pk %}">
                {% csrf_token %}
                <button type="submit">Записаться</button>
            </form>
        </div>
        <p style="font-weight: bold; margin-left: 5.5%">
            Отзывы
            <span style="font-weight: initial; font-size: .85em">{{ reviews.count }}</span>
            <a href="{% url 'review' course.pk %}">Оставить отзыв</a>
        </p>
        <div class="reviews_container">
            {% for review in reviews %}
            <div class="review">
                {% if review.user.avatar %}
                    <img src="{{ review.user.avatar.url }}">
                {% else %}
                    <img src="{% static 'avatar.png' %}">
                {% endif %}
                {{ review.user.last_name }} {{ review.user.first_name }}
                {{ review.content }}
             </div>
            {% empty %}
                <p>Отзывов пока нет. Ваша <a href="{% url 'review' course.pk %}">Оценка</a> важна</p>
            {% endfor %}
        </div>
{% endblock %}