{% extends 'base.html' %}
{% block content %}
    <div class="course_container">
        <div class="course_preview" style="transform: none; box-shadow: none; border: none">
          <p><a style="color:red" href="{% url 'delete' course.pk %}">Удалить</a></p>
          <p>{{ course.title }}</p>
          <p>Автор: {{ course.author.last_namme }} {{ course.author.first_name }}</p>
          <p>Старт: {{ course.start_date }}</p>
          <p>Продолжительность: {{ course.duration }} месяцев/-a</p>
          <p>Кол-во уроков: {{ course.count_lessons }}</p>
          <p>{{ course.description }}</p>
          <p><span class="price">{{ course.price }} ₽</span></p>
        </div>
        <div class="course_preview" style="margin-top: 1%; box-shadow: none; border: none"></div>
            <p style="font-weight: bold">Список уроков:</p>
            {% for lesson in lessons %}
            {{ counter }}
                <p>{{ lesson.name }}</p>
                <p>{{ lesson.preview }}</p>
            {% endfor %}
            <form method="post" action="{% url 'enroll' course.pk %}">
                {% csrf_token %}
                <input type="submit" value="Записаться">
            </form>
    </div>
{% endblock %}