{% extends 'base.html' %}
{% load static %}
{% block content %}

    <form id="form" method="get">
        {{ form }}
        <button type="submit">Получить</button>
    </form>

    <div class="courses_container">
        {% now 'SHORT_DATETIME_FORMAT' %}
        {% for course in courses %}
          <div class="course_preview">
            <p><a class="course_title" href="{% url 'detail' course.pk %}">{{ course.title|title }}</a></p>

              {% if not course.pk in request.session.favourites or not request.session.favourites %}
                  <div class="favourite_container">
                      <form id="favourite_form" method="post" action="{% url 'add_booking' course.pk %}" title="Принять участие">
                          {% csrf_token %}
                          <button type="submit" class="fa fa-plus" style="color: #fa9405"></button>
                      </form>
                  </div>
              {% else %}
                  <div class="favourite_container">
                      <form id="favourite_form" method="post" action="{% url 'remove_booking' course.pk %}" title="Принять участие">
                          {% csrf_token %}
                          <button type="submit" class="fa fa-check" style="color: green"></button>
                      </form>
                  </div>
              {% endif %}
              <p>{{ course.start_date|date:"j E" }}</p>
            <div class="course_detail">
                <p>{{ course.start_date }}</p>
                <p>{{ course.description|capfirst }}</p>
                <p class="price">{{ course.price|default:'Бесплатно' }} ₽</p>
            </div>
          </div>
        {% empty %}
            <p>На данный момент не найдено ни одного курса. Проверьте страницу позднее.</p>
        {% endfor %}
    </div>

    <div>
        <span>
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; К первой</a>
                <a href="?page={{ page_obj.previous_page_number }}">Назад</a>
            {% endif %}
            <span>Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Вперёд</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">К последней &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}