{% extends 'base.html' %}
{% block content %}
    <div class="courses_container">
        {% now 'SHORT_DATETIME_FORMAT' %}
        {% for course in courses %}
          <div class="course_preview">
            <p><a class="course_title" href="{% url 'detail' course.pk %}">{{ course.title }}</a></p>
              <p>{{ course.start_date|date:"j E" }}</p>
            <div class="course_detail">
                <p>{{ course.start_date }}</p>
                <p>{{ course.description }}</p>
                <p class="price">{{ course.price }} ₽</p>
            </div>
          </div>
        {% empty %}
            <p>На данный момент не найдено ни одного курса. Проверьте страницу позднее.</p>
        {% endfor %}
    </div>
{% endblock %}