{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="main_container">
        <div class="main_item">
            <form id="form" method="POST">
                <h3>{% block form_name %}Вход{% endblock %}</h3>
                {% csrf_token %}
                <p><input type="email" maxlength="256" placeholder="Email" name="email" required></p>
                <p><input type="password" placeholder="Пароль" name="password" required></p>
                <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
                <p><button type="submit">Войти</button></p>
            </form>
        </div>
    </div>
{% endblock %}