{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="main_container">
        <div class="main_item">
            <form id="form" method="post">
                <h3>{% block form_name %}Регистрация{% endblock %}</h3>
                {% csrf_token %}
                <p><input type="email" maxlength="256" placeholder="Email" name="email" required autofocus></p>
                <p><input type="text" placeholder="Фамилия" name="last_name" required></p>
                <p><input type="text" placeholder="Имя" name="first_name" required></p>
                <p><input type="date" placeholder="Дата рождения" name="birthday" required></p>
                <p><textarea maxlength="200" placeholder="Описание профиля" name="description"></textarea></p>
                <p><input type="file" placeholder="Аватар" name="avatar"></p>
                <p><input type="password" placeholder="Пароль" name="password"></p>
                <p><button type="submit">Зарегистрироваться</button></p>
            </form>
        </div>
    </div>
{% endblock %}