{% extends 'base.html' %}
{% block content %}
    <div class="main_container">
        <div class="main_item">
            <form id="form" method="post">
                <h3>{% block form_name %}Отзыв о курсе{% endblock %}</h3>
                {% csrf_token %}
                {% if form.errors %}
                    {% if form.non_field_errors %}
                    <ul>
                        {% for error in form.non_field_errors %}
                        <span style="colore: red">{{ error }}</span>
                        {% endfor %}
                    </ul>
                {{ form.as_p }}
                <p><button type="submit">Оценить</button></p>
            </form>
        </div>
    </div>
{% endblock %}